In [ ]:
'''

Name: Jose
Class: CSC106
HW#: Quiz 3
QN: 1
Date: 10/24/2023

'''

In [3]:
First_Name = 'Jose'
print(type(First_Name))

<class 'str'>

In [4]:
ID = 88888
print(type(ID))

<class 'int'>

In [5]:
Graduated = True
print(type(Graduated))

<class 'bool'>

In [6]:
T = (First_Name, ID, Graduated)
print(T)

('Jose', 88888, True)

In [6]:
L = [First_Name, ID, Graduated]
print(L)

['Jose', 88888, True]

In [8]:
S = {First_Name, ID, Graduated}
print(S)

{88888, True, 'Jose'}

In [9]:
D = {'Name': First_Name, 'ID': ID, 'Graduated': Graduated}
print(D)

{'Name': 'Jose', 'ID': 88888, 'Graduated': True}

In [7]:
Student = [First_Name, ID, Graduated]
print(Student[0])
print(Student[1])
print(Student[2])

Jose
88888
True

In [16]:
if(Student[0] == 'Jose'):
    print('correct')

correct

In [15]:
if(Student[1] == 88888):
    print('correct')

correct

In [17]:
if(Student[2] == 1):
    print('Graduated')

Graduated

In [18]:
if(Student[0] == 'Jose'):
    print('correct')
else:
    print('incorrect')

incorrect

In [ ]:
if(Student[1] == 88888):
    print('correct')
else:
    print('incorrect')

In [ ]:
if(Student[2] == 1):
    print('Graduated')
else:
    print('not graduated')

In [25]:
i = 0
while (i < 1):
    if(Student[0] == 'Jose'):
        print('correct')
    i+=1

correct

In [26]:
i = 0
while (i < 1):
    if(Student[1] == 88888):
        print('correct')
    i+=1

correct

In [27]:
i = 0
while (i < 1):
    if(Student[2] == 1):
        print('Graduated')
    i+=1

Graduated

In [32]:
for Jose in range(1):
    if(Student[0] == 'Jose'):
        print('correct')

correct

In [35]:
i = 88888
for i in range(1):
    if(Student[1] == 88888):
        print('correct')

correct

In [8]:
i = True
for i in range(1):
    if(Student[2] == 1):
        print('Graduated')

Graduated

In [40]:
sqA_len = 4
sqB_len = 8

print('Length:')
Length = abs(sqA_len - sqB_len)
print(Length)

print('Perimeter:')
Perimeter = abs(sqA_len * (4) - sqB_len * (4))
print(Perimeter)

print('Area')
area = abs(sqA_len * (2) - sqB_len * (2))
print(area)

Length:
4
Perimeter:
16
Area
8

In [2]:
s = {100, 50, 70}
s

{50, 70, 100}

In [6]:
MyClass = ['John', ('John', 106, False), 106, {'John', 106, False}, False]
for x in [1]:
    if(('John' in MyClass[3]) == True):
        print('John')

John

In [8]:
x = 0
if(MyClass[0] == 'John'):
    x += 1
if(MyClass[1][0] == 'John'):
    x += 1
if(MyClass[2] == 'John'):
    x += 1
if(('John' in MyClass[3]) == True):
    x += 1
if(MyClass[4] == 'John'):
    x += 1
print(x)

3